<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Hezron Karani.It uses data from Mapbox and WeatherStack</p>
        <img class="potrait" src="./img/hezron.png">

    </div>

   
    {{>footer}}


</body>

</html>